:root{
    --bg-color:#D1EBFC;
    --color:#0061FF;
    --dark:#214975;
    --dark-opacity:#214a75c9;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-color);
   /*overflow: hidden;*/

}

.container{
    display: flex;
    justify-content: space-evenly;
    font-size: 19px;
    padding:2%;
}
.side{
    display: flex;
    justify-content: center;
    align-items: center;
}
.side img{
    object-fit: cover;
    width: 100vh;
    height: 100vh;

}
.right {
    display: flex;
    flex-direction: column;

    width: 100%;


}
label{
    margin-bottom: 10%;
    color: var(--color);
}
input,select{
    width: 100%;
    border-radius: 10px;
    border: .1em solid var(--color);
    outline: none;
    padding: 20px;
}
input::placeholder{
    color: var(--bg-color);
    padding-left: 20px;
}
button{
    background: linear-gradient(178.18deg, #0061FF -13.56%, #214975 158.3%);
    border-radius: 10px;
    min-height: 3em;
    border: none;
    color: #fff;
    font-weight: normal;
    margin-top: 20px;

}
@media (max-width: 1000px){
    .left{
        visibility: hidden;
        position: absolute;
    }
    .right{
        padding-top: 70%;
        margin-left: 10%;
    }
    button{
        height: 100px;
    }
    }
/*Patient profil*/
.profile{
    display: flex;

}
.info{
    display: flex;
    flex-direction: column;

}
h1,h3{
    color: var(--dark);

}
/*edit*/
.edit{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    visibility: hidden;
    width: 100%;
    height:100%;
    position: fixed;
    background-color: #fff;
}
label{
    display: flex;
    flex-direction: column;
}
.edit form{
    width:450px;
}
/*reserve*/
.reserve {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    visibility: hidden;
    width: 100%;
    height:100%;
    position: fixed;
    background-color: #fff;
}
.reserve form {
    width: 540px;
}
.closepop {
    position: absolute;
    top: 60px;
    right: 60px;
}
.planinheader{
    display: flex;
    font-size: 50px;
    justify-content: space-around;

}
#popEdit form{
    display: flex;
    align-items: stretch;
    flex-direction: column;
}
#popEdit img{
    margin-left: 109px;
}
.a{
    text-decoration: none;
    color: #fff;
}
th{
    color: #858585;

}
tr:not(:last-child) {
    border: 2px solid #858585;
    height:100px;
    width: max-content;
background-color: rgba(255 255 255 /36);
    color: #858585;
    margin-bottom: 10px;
}


.planing{
    border: 2px solid #858585;
    border-radius: 10px;
}

.fas{

    color: var(--dark);
}
.cc{
    display: flex;

    align-items: center;
    gap: 10px;
}
table{
    width: 90%;
}
#popAdd{
     background-color: #fff;
     visibility: hidden;

    width: 100%;
    position: absolute;
    top: 0;
    height: 100vh;

 }