:root{
    --bg-color:#D1EBFC;
    --color:#0061FF;
    --dark:#214975;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Poppins', sans-serif;
    color: var(--dark);
}
body{

    max-height:100vh;
    width:100%;
    
}
.main{
    
    background-color: var(--bg-color);
}
section{
    margin:3% 10%;
    display: flex;
    
}
.re{
    position: relative;
}
h1{
    font-weight: bold;
    font-size: 5em;
    
}
label{
    display: block;
    font-weight: bold;
    font-size: 1em;
    padding: 2%;
    margin-left: 3em;
}
button a{
    text-decoration: none;
    color: #fff;
}
button{
    border: 1px solid var(--color);
    border-radius: 10px;
    font-size: 24px;
    background-color: var(--color);
    letter-spacing: 0.5px;
    padding: 14px 64px;
    width: max-content;
    margin:5%;
    display: block;
    color: #fff;

}
.head-palning{
    display: flex;
}
.list{
    border: 1px solid #f0f0f0;
    border-radius: 10px;
    padding: 10%;
}

tr{
    display: flex;
    
    border: 1px solid #f0f0f0;
    border-radius: 10%;
    width: 100%;
}
td{
    padding: 2em;
}
/* ********************** */
.centrer{
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5%;
    position: absolute;
    top:0;
    left: 25%;
    visibility: hidden;

}

select,input{
    border: 1px solid var(--color);
    border-radius: 10px;
    font-size: 24px;
    letter-spacing: 0.5px;
    padding: 14px 64px;
    width: 60vh;
    outline: none;
    
}
.line{
    display: flex;
    justify-content: center;
    align-items: center;
}
.space{
    margin: 1em;
}


.pat{
    background-color: rgba(209, 209, 209, 0.267);


}